$header-color: #fa4b2a;
$primary-color: #fff;
$black:#333;
$footer-color: #444;
$count-bg-yellow: #ffb400;
$count-bg-green: #4a8813;
$count-bg-grey: #999;
$count-bg-green2: #005853;
$count-bg-blue: #003555;
$dark-blue: #292484; 
$orange: #dc4225;
$dark-green:#417711;
$light-orange:#d38312;
$violet:#002f4b;
$purple:#a83279;

$content-font: Helvetica,Arial,sans-serif;
$heading: Adelle,Georgia,serif;
$nav-font:ff-din-web-condensed,Helvetica,Arial,sans-serif;






