
$dark-orange: #fa4b2a;
$white: #fff;
$black:#333;
$hex: #444;
$count-bg-yellow: #ffb400;
$count-bg-green: #4a8813;
$count-bg-grey: #999;
$count-bg-green2: #005853;
$count-bg-blue: #003555;
$dark-blue: #292484; 
$orange: #dc4225;
$dark-green:#417711;
$light-orange:#d38312;
$violet:#002f4b;
$purple:#a83279;
$grey:#ddd;


$header-color:$dark-orange;
$footer-color:$hex;

$sans-series:  "Helvetica", "Arial", "sans-serif";
$serif-series: "Adelle", "Georgia", "serif";
$condensed-series:"ff-din-web-condensed", "Helvetica", "Arial", "sans-serif";

$content-font: $sans-series;
$primary-font: $serif-series;
$nav-font: $condensed-series; 




