/* line 3, ../sass/style.scss */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* line 8, ../sass/style.scss */
.container {
  width: 100%;
  height: 100%;
}

/* line 14, ../sass/style.scss */
.header {
  height: 60px;
  background-color: #fa4b2a;
  color: #fff;
}

/* line 21, ../sass/style.scss */
#header_logo {
  width: 140px;
  margin-top: 13px;
  display: block;
  float: left;
}

/* line 28, ../sass/style.scss */
#header_logo img {
  width: 130px;
}

/* line 32, ../sass/style.scss */
#hamburger_menu {
  width: 60px;
  float: left;
  cursor: pointer;
  font-size: 24px;
  height: 60px;
  padding: 15px;
}

/* line 41, ../sass/style.scss */
#header_articles {
  height: 60px;
  width: 60px;
  float: right;
  cursor: pointer;
  border-left: 2px solid #fff;
  padding-left: 5px;
}
/* line 49, ../sass/style.scss */
#header_articles h2 {
  font-weight: bold;
  font-size: 2em;
  margin-top: 0px;
  margin-bottom: 0px;
}
/* line 55, ../sass/style.scss */
#header_articles label {
  font-size: 0.5em;
}

/* line 59, ../sass/style.scss */
#drawer {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: -250px;
  height: auto;
  width: 250px;
  background: none repeat scroll 0% 0% #222;
}

/* line 69, ../sass/style.scss */
#drawer ul {
  list-style: outside none none;
  padding: 0px;
}

/* line 74, ../sass/style.scss */
#drawer ul li {
  border-top: 1px solid #2f2f2f;
  padding: 8px;
}

/* line 78, ../sass/style.scss */
#drawer li a {
  color: #FFF;
  text-decoration: none;
}

/* line 83, ../sass/style.scss */
#drawer.drawer_left {
  transition: all 1s ease 0s;
  left: 0px;
  z-index: 999;
}

/* line 90, ../sass/style.scss */
#article_drawer {
  position: absolute;
  top: 60px;
  bottom: 0px;
  right: -250px;
  height: auto;
  width: 250px;
  background: none repeat scroll 0% 0% #fcfcfc;
  border-left: 2px solid #fa4b2a;
}

/* line 100, ../sass/style.scss */
.article_day h3 {
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  background: #fa4b2a;
  color: #fff;
  display: inline-block;
  margin: 12px 5px 0 10px;
  padding: 4px;
}

/* line 110, ../sass/style.scss */
.articles_stories {
  color: #333;
}

/* line 113, ../sass/style.scss */
.articles_stories li {
  text-decoration: none;
  display: block;
  padding: 5px;
}
/* line 117, ../sass/style.scss */
.articles_stories li span {
  font-size: 0.65rem;
  color: #333;
  display: block;
  text-transform: lowercase;
  padding-bottom: 4px;
}

/* line 125, ../sass/style.scss */
#article_drawer.drawer_right {
  transition: all 1s ease 0s;
  right: 0px;
  z-index: 999;
}

/* line 131, ../sass/style.scss */
.content_wrapper {
  position: relative;
}

/* line 136, ../sass/style.scss */
.news_content, .news_content2, .news_content3 {
  position: relative;
  width: 100%;
  height: 200px;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 143, ../sass/style.scss */
.news_content:after, .news_content2:after, .news_content3:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  opacity: 0.7;
}

/* line 153, ../sass/style.scss */
.news_content {
  background-image: url("https://cdn2.vox-cdn.com/thumbor/f2EPzA8llCTzGi_TfI1rCEmO6do=/0x184:3696x2263/340x192/filters:format(webp)/cdn0.vox-cdn.com/uploads/chorus_image/image/48678951/GettyImages-486026810.0.jpg");
}
/* line 155, ../sass/style.scss */
.news_content:after {
  content: '';
  background-image: linear-gradient(135deg, #002f4b, #417711);
}

/* line 160, ../sass/style.scss */
.news_content2 {
  background-image: url("https://cdn0.vox-cdn.com/thumbor/hBiFiQZoJS-f7OLPw5EjywaqE4w=/0x697:3000x1697/800x267/filters:format(webp)/cdn0.vox-cdn.com/uploads/chorus_image/image/48666971/20151010CASF_Water02145_1.0.0.jpg");
}
/* line 162, ../sass/style.scss */
.news_content2:after {
  content: '';
  background-image: linear-gradient(135deg, #292484, #a83279);
}

/* line 168, ../sass/style.scss */
.news_content3 {
  background-image: url("https://cdn2.vox-cdn.com/thumbor/5IDBWEBU6NVmKx8QgfEAM7aQLK4=/0x79:1275x796/340x192/filters:format(webp)/cdn0.vox-cdn.com/uploads/chorus_image/image/48692457/airmail.0.0.jpg");
}
/* line 170, ../sass/style.scss */
.news_content3:after {
  content: '';
  background-image: linear-gradient(135deg, #292484, #dc4225);
}

/* line 176, ../sass/style.scss */
.news_headline {
  position: absolute;
  z-index: 10;
  margin-left: 20px;
}
/* line 180, ../sass/style.scss */
.news_headline h2 {
  font-size: 1.4em;
  color: #fff;
  font-weight: 400;
}
/* line 186, ../sass/style.scss */
.news_headline label {
  font-size: 0.75em;
  color: #fff;
  font-weight: 300;
}

/* line 195, ../sass/style.scss */
.news_scroller {
  overflow-y: hidden;
  overflow-x: scroll;
  position: relative;
  width: 100%;
  white-space: nowrap;
  font-size: 0;
}

/* line 204, ../sass/style.scss */
.news_content4, .news_content5, .news_content6 {
  position: relative;
  width: 80%;
  height: 200px;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 212, ../sass/style.scss */
.news_content4:after, .news_content5:after, .news_content6:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

/* line 221, ../sass/style.scss */
.news_content4 {
  background-image: url("https://cdn0.vox-cdn.com/thumbor/GJ3BjpihGIdTdMd4gfZZW4N1DiM=/0x0:1019x679/300x200/filters:format(webp)/cdn0.vox-cdn.com/uploads/chorus_image/image/48699183/youtube-ipad-logo1_1020.0.jpg");
}
/* line 223, ../sass/style.scss */
.news_content4:after {
  content: '';
  background-image: linear-gradient(135deg, #d38312, #002f4b);
}

/* line 228, ../sass/style.scss */
.news_content5 {
  background-image: url("https://cdn1.vox-cdn.com/thumbor/wDPIgG3boCgdJBJuUoM7ubJqk2k=/68x0:947x586/300x200/filters:format(webp)/cdn0.vox-cdn.com/uploads/chorus_image/image/48701763/Google-Campus-025.0.0.jpg");
}
/* line 230, ../sass/style.scss */
.news_content5:after {
  content: '';
  background-image: linear-gradient(135deg, #e0be00, #dc4225);
}

/* line 236, ../sass/style.scss */
.news_content6 {
  background-image: url("https://cdn0.vox-cdn.com/thumbor/xY45jry9lRiOZF80b1OTQnD7LXA=/0x266:4256x1685/800x267/filters:format(webp)/cdn0.vox-cdn.com/uploads/chorus_image/image/48698661/FM2_4593_hires2.0.0.jpg");
}
/* line 238, ../sass/style.scss */
.news_content6:after {
  content: '';
  background-image: linear-gradient(135deg, #d38312, #a83279);
}

/* line 244, ../sass/style.scss */
.newslist_wrapper {
  position: relative;
}
/* line 246, ../sass/style.scss */
.newslist_wrapper ul {
  margin: 0;
  padding: 0;
}

/* line 252, ../sass/style.scss */
.news_item {
  padding: 15px;
  list-style-type: none;
  border-bottom: 1px solid #ddd;
}

/* line 257, ../sass/style.scss */
.news_img {
  padding-right: 10px;
  display: table-cell;
}
/* line 260, ../sass/style.scss */
.news_img img {
  width: 75px;
  height: 75px;
}

/* line 265, ../sass/style.scss */
.item_headline {
  display: table-cell;
  vertical-align: top;
}
/* line 269, ../sass/style.scss */
.item_headline h3 {
  font-size: 0.85em;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}
/* line 275, ../sass/style.scss */
.item_headline label {
  font-size: 0.6em;
  display: inline-block;
  border-right: 1px solid #444;
  margin-right: .25em;
  padding-right: .25em;
}
/* line 282, ../sass/style.scss */
.item_headline span {
  font-size: 0.6em;
}

/*.scroll_headline{
    position:absolute;
    top:0px;
    left: 0;
     z-index:10;
    h2{
    font-size: 1.4em;
    color:$primary-color;
    font-weight: 400;
   
}
label{
    font-size: 0.75em;
    color:$primary-color;
    font-weight: 300;
    
}
}


.news_headline2{
    position:absolute;
    top:0px;
    left: 0;
    h2{
    font-size: 1.4em;
    color:$primary-color;
    font-weight: 400;
    z-index:10;
}
label{
    font-size: 0.75em;
    color:$primary-color;
    font-weight: 300;
    z-index:10;
}
}
   
.news_headline3{
    position:absolute;
    top:400px;
    left: 0;
    h2{
    font-size: 1.4em;
    color:$primary-color;
    font-weight: 400;
    z-index:10;
}
label{
    font-size: 0.75em;
    color:$primary-color;
    font-weight: 300;
    z-index:10;
}
}


.news_headline4{
    position:absolute;
    top:0px;
    left: 0;
    z-index
    h2{
    font-size: 1.4em;
    color:$primary-color;
    font-weight: 400;
    z-index:10;
}
label{
    font-size: 0.75em;
    color:$primary-color;
    font-weight: 300;
    z-index:10;
}
}
*/
