/* line 3, ../sass/style.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 8, ../sass/style.scss */
.header {
  height: 60px;
  background-color: #fa4b2a;
  color: #fff;
}

/* line 13, ../sass/style.scss */
#header_logo {
  width: 140px;
  margin-top: 13px;
  display: block;
  float: left;
}

/* line 20, ../sass/style.scss */
#header_logo img {
  width: 130px;
}

/* line 24, ../sass/style.scss */
#hamburger_menu {
  width: 60px;
  float: left;
  cursor: pointer;
  font-size: 24px;
  height: 60px;
  padding: 15px;
  box-sizing: border-box;
}

/* line 34, ../sass/style.scss */
#drawer {
  position: fixed;
  top: 60px;
  bottom: 0px;
  left: -250px;
  height: auto;
  width: 250px;
  background: none repeat scroll 0% 0% #2F2F2F;
}

/* line 44, ../sass/style.scss */
#drawer ul {
  list-style: outside none none;
  padding: 0px;
}

/* line 50, ../sass/style.scss */
#drawer li a {
  color: #FFF;
  text-decoration: none;
}

/* line 55, ../sass/style.scss */
#drawer.drawer_left {
  transition: all 1s ease 0s;
  left: 0px;
}

/* line 59, ../sass/style.scss */
#header_articles {
  height: 60px;
  width: 60px;
  float: right;
  cursor: pointer;
}
/* line 65, ../sass/style.scss */
#header_articles h2 {
  font-weight: bold;
  font-size: 2em;
  margin-top: 0px;
}
/* line 70, ../sass/style.scss */
#header_articles label {
  font-size: 0.35em;
}
